name: "testing newman"

on:
  push:

  workflow_dispatch:
    

jobs:
  newman:
    runs-on: ubuntu-20.04
    environment:
      name: test
    steps:
      - id: newman
        uses: matt-ball/newman-action@master
        with:
          apiKey: ${{ secrets.POSTMAN_API_KEY }}
          collection: ${{ secrets.POSTMAN_COLLECTION_UID }}
          folder: hello
